# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Minecraft / Fabric
run/
*.log
crash-reports/
*.jar
!build/libs/*.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.class

# OS
.DS_Store
Thumbs.db

# Other
*.zip
*.tar.gz
*.rar

# Auth / sensitive (just in case)
*.myth
run/elegant/
run/config/